/*  your css code here. If applicable */
   body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204)
   }
   .my-playlist,.mp3-song,.now-playing{
    text-align: center;
   }
   .song-list {
    border: 1px solid black;
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin: 21px;
    border-radius: 10px;
    text-decoration-color:black ;
   }
   .song-list ul li {
    list-style-type:none;
   }
a{
    text-decoration-line: none;
    color: black;
   }
   .video-audio-list{
     width: 80%;
     border: 1px solid black;
     background-color: white;
     margin: auto;
     border-radius: 10px;
}
.player_one{
    width: 95%;
    padding: 15px;
	border-radius:1px;
	background-color: rgb(255, 255, 255);
}
.mp3-song{
    margin-top: -21px;
}
.player_two{
    width: 95%;
    padding: 9px;
    border-radius: 29px;   
	background-color: rgb(255, 255, 255);
}
.audio-text{
    padding: 0px 16px;
} 
